*{
box-sizing:border-box;
margin:0;
padding:0;
}

/* MAIN */

.discount_admin{
padding:30px;
background:#f6f8fb;
min-height:100vh;
}

/* FORM */

.discount_form{
border-radius:16px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

.discount_form h2{
text-align:center;
margin-bottom:20px;
}

/* BUTTON */

.offer_btn{
background:linear-gradient(135deg,#ff4d6d,#ff8fa3);
border:none;
}

/* DATA */

.discount_data{
border-radius:16px;
box-shadow:0 10px 30px rgba(0,0,0,0.08);
}

/* SEARCH */

.search_offer{
margin-bottom:20px;
border-radius:8px;
}

/* GRID */

.discount_grid{

display:grid;
grid-template-columns:repeat(auto-fill,minmax(200px,1fr));
gap:20px;

max-height:500px;
overflow-y:auto;

}

/* CARD */

.discount_card{
background:white;
border-radius:12px;
padding:12px;
text-align:center;
box-shadow:0 8px 20px rgba(0,0,0,0.1);
transition:0.3s;
}

.discount_card:hover{
transform:translateY(-4px);
}

/* IMAGE */

.discount_card img{
width:100%;
height:120px;
object-fit:cover;
border-radius:10px;
margin-bottom:8px;
}

/* TITLE */

.discount_card h4{
font-size:15px;
margin-bottom:5px;
}

/* PRICE */

.price{
color:#ff4d6d;
font-weight:600;
}

.old_price{
text-decoration:line-through;
color:#777;
font-size:13px;
margin-left:6px;
}

/* BUTTON */

.btn_group{
display:flex;
justify-content:center;
gap:8px;
margin-top:10px;
}

.edit_btn{
background:#ff8fa3;
border:none;
color:white;
}

/* SCROLL */

.discount_grid::-webkit-scrollbar{
width:6px;
}

.discount_grid::-webkit-scrollbar-thumb{
background:#ff4d6d;
border-radius:10px;
}
.saving{
color:green;
font-size:13px;
margin-top:4px;
font-weight:500;
}
/* MOBILE */

@media(max-width:768px){

.discount_admin{
padding:15px;
}

.discount_grid{
grid-template-columns:repeat(2,1fr);
}

}

@media(max-width:480px){

.discount_grid{
grid-template-columns:1fr;
}

}